body {
  background: #f3f7fa;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#logo {
  margin: 40px;
  width: 64px;
  height: 64px;
  border-radius: 37px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

#filter {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin: 10px;
  width: 232px;
  height: 252px;
}

.tabs {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;

  width: 502px;
  height: 50px;

}
.tab {
  background-color: #ffffff;
  border: none;
  outline: none;
  width: 251px;
  height: 50px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
}
.active {
  background-color: #2196f3;
  color: #ffffff;
}
.tab.left {
  border-radius: 5px 0px 0px 5px;
}
.tab.right {
  border-radius: 0px 5px 5px 0px;
}

.list {
  width: 502px;
  height: 184px;

  padding: 0;
  list-style: none;
}

.list-item {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin: 10px;
  padding: 10px;
  width: 502px;
  height: 184px;
}

.list-item .row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 20px;
}

.list-item .row.top {
  margin: 20px 52px 20px 20px;
  align-items: center;
}

.list-item .column {
  display: flex;
  flex-flow: column;
  width: 141px;
}

.price {
  color: #2196f3;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.airlines {
  height: 36px;
  width: 200px;
}

.upper-text {
  color:  #a0b0b9;
  font-size: 12px;
  font-weight: 510;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.lower-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
}
